.mySwiper{
  width: 100% !important;
  height: auto;
}

.swiper-slide {
  border-radius: 10px;
  margin: 2rem 0 3rem 0 !important;
  transform: scale(0.9);
  transition: transform 0.3s ease;
  opacity: 1;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}


.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}


